[2014-11-14 19:54] mergesort opened #1 "Feature request: 5c colors"
This is great! I use 5c colors in my screenshots, would it be possible to generate those as well? If there's anything I can do to help, let me know.

[2014-11-15 14:30] tjosten opened #2 "Add imagemagick as required dependency"
If ImageMagick is not being installed on the system, `frameit` crashes:

`/Library/Ruby/Gems/2.0.0/gems/subexec-0.2.3/lib/subexec.rb:71:in `spawn': No such file or directory - identify (Errno::ENOENT)`

[2014-11-15 16:29] #2 closed, assigned to nobody

[2014-11-15 17:43] Frankacy opened #3 "Adding text and backgrounds to images"
Is there any interest in modifying the script to be able to inset the image, change the background, add text, etc? I love the idea behind frameit, but I think we could really automate the process even further.

This is something I'll gladly work on if you think it's worth it, even though I'll have to pick up Ruby again :)

[2014-11-15 22:13] #3 closed, assigned to nobody

[2014-11-16 14:35] #1 closed, assigned to nobody

[2014-11-16 20:52] KrauseFx opened #4 "Support file names with .png and .PNG extension"

[2014-11-17 17:10] #4 closed, assigned to KrauseFx

[2014-11-17 19:09] toddfreese opened #5 "Errors during install"
I'm getting some errors during the install on MacOSX 10.9.5. Should I be concerned about these?

/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwin13/rbconfig.rb:213: warning: Insecure world writable dir /usr/local/narwhal/bin in PATH, mode 040777
Fetching: highline-1.6.21.gem (100%)
Successfully installed highline-1.6.21
Fetching: colored-1.2.gem (100%)
Suc

[2014-11-17 21:23] #5 closed, assigned to nobody

[2014-11-17 23:03] toddfreese opened #6 "Ipad Air 2 support."
The apple web site URL provided does not have downloads for the iPad Air version 1. They just have iPad Air 2.

But frameit seems to be looking for iPad Air 1 files. Is there an update for the new apple device artwork?

[2014-11-22 14:41] #6 closed, assigned to KrauseFx

[2014-11-25 17:34] chintan100 opened #7 ""Missing file" error even though file exists"
I installed ImageMagick which was missing before and added iPad frames as instructed but i still get missing file error as shown in screenshot. I had to rename the downloaded files as they had the name: iPad_mini_Vert_Slvr_sRGB.psd where i had to remove the "_sRGB" part.
![screen shot 2014-11-25 at 11 01 20 pm](https://cloud.githubusercontent.com/assets/1689870/5187995/5ea6bb2e-74f7-11e4-8476-006b

[2014-11-25 22:24] #7 closed, assigned to nobody

[2014-11-29 02:37] toddfreese opened #8 "Flag to turn off background."
It would be great to have a flag to turn off the white background from the Apple files. My work around is to open all the PSDs and turn off the background layer and resave the files. Then run the setup again.

[2014-12-02 15:13] BobDG opened #9 "Size new image completely wrong"
Hi, the size of the framed images are all completely wrong.
For example, the size of the iPad screenshot of 1536 x 2048 is in the new framed version only 891 x 3126. Perhaps my macbook retina screen causes a bug?

[2014-12-17 11:35] #9 closed, assigned to nobody

[2014-12-19 11:37] KrauseFx opened #10 "Show some output when no screenshots are found at all"

[2015-01-17 17:25] yogoo opened #12 "Setup fails with error on converting psd files"
Frameit returns an error during setup when it tries to convert the devices frames Photoshop files. Below is a dump of the error.
[code]

[2015-01-18 15:01] KrauseFx commented on #12
Looks like there is something wrong with your `imagemagick` installation. Try this [stackoverflow](http://stackoverflow.com/a/12253801) answer which helps you reinstalling it.

[2015-01-18 19:41] mschm commented on #12
I'm experiencing the exact same issue. Reinstalled imagemagick 6.9.0-3 with brew but the problem remains. Also reinstalled from source, as pointed out in the stackoverflow answer, but still no luck. Converting PSDs to JPG with imagemagick works fine.

[2015-01-19 09:40] KrauseFx commented on #12
This is all `frameit` does: [frame_converter.rb:61](https://github.com/KrauseFx/frameit/blob/master/lib/frameit/frame_converter.rb#L61)

Maybe the Ruby gem does not find your `imagemagick` installation and uses a wrong (or broken) one? Have you had a previous installation?

[2015-01-19 10:47] yogoo commented on #12
Same as mschm.

Running ```identify``` on a known existing file works perfectly. So ```ImageMagick``` seems to work properly. The issue is with whatever happens when calling ```MiniMagick::Image.open(psd)```. The temporary file it tries to access doesn't seem to exist. I posted the issue at the ```minimagick``` repo ([issue #283](https://github.com/minimagick/minimagick/issues/283)).

[2015-01-19 10:50] KrauseFx commented on #12
Have you checked if the `psd` on the given path is not broken?

[2015-01-19 11:28] yogoo commented on #12
Didn't think of this. No it's not broken... Also ```convert``` and ```mogrify``` convert it [to ```png```] without a hitch.

[2015-01-19 13:21] yogoo commented on #12
The devs at MiniMagick offered a [workaround](https://github.com/minimagick/minimagick/issues/283#issuecomment-70484248):
[code]
I tried it in an irb session with the conversion you do in [frame_converter.rb:61](https://github.com/KrauseFx/frameit/blob/master/lib/frameit/frame_converter.rb#L61) and it works without errors. I wouldn't be able to write a pull request for it though as I don't develop

[2015-01-19 15:14] KrauseFx commented on #12
Thanks @yogoo, I pushed a fix. Please download the latest version as ZIP from GitHub and run `sudo bundle install` and `sudo rake install` to test it.

Please let me know if that fixes your problem and I'll publish a new version.

[2015-01-19 15:47] yogoo commented on #12
How great it is when everything works as expected ^_^ Thanks!

[2015-01-19 15:49] KrauseFx commented on #12
Great to hear! Have you tried running it for your screenshots already? Does it work as expected?

[2015-01-19 16:42] yogoo commented on #12
Yes, it frames everything nicely.

There are two glitches:
- With some templates, the size of framed screenshot doesn't match the size of the "screen" on Apple's templates. This creates a gray line on one or multiple sides of the screenshots. In the case of the iPhone 6 Plus, in Apple's psd file the screen has a size of 540x961px. The screenshot is resized to 539x958px. I guess you could resize to

[2015-01-19 17:06] KrauseFx commented on #12
The converted files are png-files, generated by `frameit`, they must be valid ;)

Could you upload one of the screenshots with frames where you can see the glitch? I'd like to take a closer look.

[2015-01-19 17:51] yogoo commented on #12
Yeah, I know, that's why it's so confusing that Photoshop refuses to open some of them. Try opening the attached files in it. I'm curious to know if it works on your machine.

Yep, attached, I framed a 100% black screenshot to make the default more apparent. See these gray lines?
![en-us-iphone5](https://cloud.githubusercontent.com/assets/1294861/5805070/034f9b5c-a00c-11e4-9c23-6e79d435a437.png)
!

[2015-01-19 17:53] KrauseFx opened #13 "Fix little offset on some devices"
https://github.com/KrauseFx/frameit/issues/12#issuecomment-70534061

[2015-01-19 17:54] KrauseFx commented on #12
Thanks, I created a separate issue for that: https://github.com/KrauseFx/frameit/issues/13
Please subscribe there, so we can discuss it further.

The original issue seems to be resolved now :+1: Thanks for your help

[2015-01-19 17:54] #12 closed

[2015-01-19 18:05] yogoo commented on #13
Summary of the discussion for reference:

Gray lines appear at the edges of the screenshots on one or multiple sides. Apparently due to a difference in size between Apple's template and the output size set in framit.
![en-us-iphone5-portrait-0-parkinglistscreen](https://cloud.githubusercontent.com/assets/1294861/5805301/e6aedfb0-a00d-11e4-94f4-8cc4449aba35.png)
![en-us-iphone6-portrait-0-parkingli

[2015-01-19 21:15] patricks opened #14 "frameit crashes while converting psd file"
I just tried frameit the first time. But if I start frameit i get the following error (started with --trace flag):

[code]

I am using frameit (0.2.0)

Any ideas whats wrong?

[2015-01-19 21:29] KrauseFx commented on #14
Thanks for reporting, this problem is solved with https://github.com/KrauseFx/frameit/issues/12

I'll publish a new version right now. You can update using `sudo gem update frameit` once it's live.

[2015-01-19 21:32] KrauseFx commented on #14
It's live, please let me know if that fixes your problem :+1:

[2015-01-19 21:32] #14 closed

[2015-01-19 21:40] patricks commented on #14
The new version work without problems. :+1:

Thanks for the quick fix!

[2015-01-20 09:25] mschm commented on #12
Great job! Works perfectly now

[2015-01-20 09:27] KrauseFx commented on #12
Great to hear :+1:

[2015-01-20 22:04] josejulio opened #15 "Wrong size when framing a screenshot"
When running frameit on a folder with this screenshoot:
![en-us-ios-ipad-portrait-0-landingscreen](https://cloud.githubusercontent.com/assets/3845764/5827189/11f0c0ac-a0be-11e4-98c4-8dd2ce7e24a3.png)

I get the following result:
![en-us-ios-ipad-portrait-0-landingscreen_framed](https://cloud.githubusercontent.com/assets/3845764/5827124/99c12d56-a0bd-11e4-87a1-b7c1972b9dcc.png)

[code]

[2015-01-23 17:07] maremmle opened #16 "Custom frames (per Screenshot)"
Hey Felix,
thanks for all your great tools.

I was wondering if you could provide the ability to use custom images as frames on a per screenshot base. We do you have app store images showing an iPhone with screenshot + headline for that particular feature + background.

[2015-01-26 10:13] KrauseFx commented on #16
Hey @maremmle,
Do you want something similar to [SketchToAppStore](http://sketchtoappstore.com/)?

[2015-01-28 23:15] KrauseFx commented on #16
I'll close this issue for now, let me know if you need any help :+1:

[2015-01-28 23:15] #16 closed

[2015-01-28 23:16] KrauseFx commented on #15
That looks really odd. Does this problem only exist on the iPad?

[2015-01-29 00:05] josejulio commented on #15
It happened on all the devices, but after trying (today) seems to be gone... i have no idea, maybe i was doing something wrong. sorry!

[2015-01-29 09:23] maremmle commented on #16
Hey @KrauseFx,
sorry for the delay. Hey something like SketchToAppStore would be awesome. I am not sure if a lot of people would need it, but I can images so.

[2015-01-29 10:15] KrauseFx commented on #15
Strange, I'll close this issue for now. Let me know if the problem occurs again :+1:

[2015-01-29 10:15] #15 closed

[2015-01-29 11:53] chintan100 commented on #8
The framed images do not have white background for iPhone frames but iPad framed images do contain white background for both black and silver frames. I have attached a framed iPad image.

Now, i understand that the white background is a part of the Apple iPad PSDs but i was wondering if we can improve `frameit` so that it can optionally remove the white background before the end result.

![img_025

[2015-01-29 12:00] KrauseFx commented on #8
Mh, I guess it would make sense to remove the transparency by default. Not sure if that's possible using `imagemagick`?

[2015-02-14 10:59] appcelerate opened #18 "Wrong Messures"
Before i frame the Screenshots was 750x1334 which is the correct size for itunes connect.
But if i frameit the size is 613x1255 for iPhone 6 Portrait.

How can i fix this Issue to upload this files to iTunes Connect?

[2015-02-14 18:52] KrauseFx commented on #18
Please read the REAME: frameit is not supposed to be used for AppStore screenshots.

[2015-03-03 07:23] palmin opened #20 "verbose-flag would really help"
It would be generally useful with a flag telling frameit to be verbose about what it is doing. Ideally logging the ImageMagick commands used, allowing us to try the steps individually from the command-line.

I am having problem putting frames on screenshots, that end up non-transparent and with jpeg artefacts, as if the images where converted to jpeg during processing and then saved as png. Really

[2015-03-03 08:42] KrauseFx commented on #20
Here is the used code: https://github.com/KrauseFx/frameit/blob/master/lib/frameit/editor.rb#L46

It does not seem to convert the images to jpg.

[2015-03-03 08:51] palmin commented on #20
I looked at this and there really is no reason it should become jpeg at any point, but this zoomed in output shows otherwise, especially visible around the clock. Again, this probably only happens to me and I should spend time fixing it.
![jpeg-artefacts](https://cloud.githubusercontent.com/assets/1230554/6459001/6309ff5c-c18a-11e4-9cf1-718499144916.png)

I think the problem happens deeper down, i

[2015-03-10 14:56] JanC commented on #8
My generated iPhone 6 screens also have a white background even if the template `iPhone_6_Vert_Slvr_sRGB_0914.png` does not

[2015-03-19 21:03] KrauseFx commented on #10
Fixed with https://github.com/KrauseFx/frameit/pull/21

[2015-03-19 21:03] #10 closed

[2015-04-02 18:06] #18 closed

[2015-04-06 18:33] paulofierro commented on #13
I'm also experiencing this, easily visible if your app screenshots are a little darker. So close to being perfect :)

[2015-04-17 14:55] brookstalley commented on #8
Ditto with the white background on iPhone 6 screens created with frameit. I have confirmed that the PSDs downloaded from Apple have transparent backgrounds.

Hacking on frameit's editor.rb, I can get it to just save Apple's frames with transparency by commenting out the template.composite and just saying result = template; that produces a PNG of the phone frame with proper transparency. I have not

[2015-04-17 17:10] brookstalley commented on #8
More investigation shows that this is probably the same problem as issue #20 ; MiniMagick is compositing the two png files into a jpg file:

`INFO [2015-04-17 09:55:21.45]: Using template: '~/.frameit/devices_frames/iPhone 6 Space Gray/iPhone_6_Vert_SpaceGray_sRGB_0914.png'
[0.31s] mogrify -resize 530 /var/folders/84/36y27w0937qbb4rx0btzb8ww0000gq/T/mini_magick20150417-38669-yohhvg.png
[0.10s] mog

[2015-04-21 12:42] jackrex commented on #8
still got white background , is there has good way to solve it

[2015-04-21 14:29] KrauseFx commented on #8
Could you try download the repo and running `sudo bundle install && sudo rake install` and let me know if that works? If so, I'll publish a new release today.

[2015-04-21 15:33] JanC commented on #8
@KrauseFx just tried it. It seems to work. The background remains transparent now

[2015-04-22 06:45] KrauseFx commented on #8
Just released an update, thanks everyone for helping :+1:

[2015-04-22 06:45] #8 closed

[2015-05-19 20:15] pedro380085 commented on #16
+1. It would be really nice if we could provide only 4-5 screenshots on iPhone 6+ sizes and get them all resized to the other devices.

[2015-05-19 21:00] KrauseFx commented on #16
Have you seen https://github.com/fastlane/frameit/releases/tag/2.0.0 yet? I haven't announced it on Twitter yet, but it's working.

Check out a working configuration: https://github.com/fastlane/examples/tree/master/MindNode/screenshots

I'll publish a full documentation and examples later next week :+1:

[2015-05-19 21:00] KrauseFx commented on #16
Basically check out https://github.com/fastlane/examples/blob/master/MindNode/screenshots/Framefile.json and the `.strings` files in each language folder: https://github.com/fastlane/examples/tree/master/MindNode/screenshots/de-DE

[2015-05-19 23:24] pedro380085 commented on #16
Hi @KrauseFx ,

This update provides resizing for a set of images? So provide only 4-5 screenshots on iPhone 6+ sizes and get them all resized to the other devices?

Thanks,

[2015-05-20 08:36] KrauseFx commented on #16
No, it requires screenshots of all screen sizes and frames the according to the correct device type. You probably want something like [this](https://launchkit.io/screenshots).

I'll write a blog post with more details later next week :rocket:

[2015-05-21 09:48] KrauseFx commented on #20
How would a `verbose` option look like for you?

[2015-05-21 10:04] palmin commented on #20
I can see two things you might mean by that question and will try to answer both.

You have the following global options:
[code]
and you would have a extra flag, perhaps
[code]

When this flag is present the program would output all ImageMagick convert commands being issued to the console, to make it clear what is going on.

I am correct that all the image processing ends up being done by ImageMag

[2015-05-21 10:08] KrauseFx commented on #20
@palmin I'm using [minimagick](https://github.com/minimagick/minimagick). I don't think there is a `verbose` option available for this library. Additionally, the created commands won't help you probably, as they all use temporary image files in a pretty unreadable forma.t

[2015-05-21 10:20] palmin commented on #20
If your library prevents you from getting verbosity, then perhaps it is not worth pursuing.

I think the users that want to look at the convert commands would be pretty resourceful regarding image formats and how to view them. Seeing the convert commands it would probably also be easy to adjust such that the intermediate formats was something else.

You should feel free to close this issue on my a

[2015-05-21 10:51] KrauseFx commented on #20
Yes, I agree with you. Thanks again for your feedback :+1:

[2015-05-21 10:51] #20 closed

[2015-06-04 13:50] osgafarov opened #24 "Cannot run frameit. Fails on Trim method"
Hi

When I run frameit I am getting the following error:
[code]

Can you check it please?
Thanks

[2015-06-06 05:19] KrauseFx commented on #24
Which version of `imagemagick` do you have installed? Did you use `homebrew` to install it?

[2015-06-06 21:05] marthinfreij opened #25 "Support line breaks in strings files"
It would be nice to be able to force line breaks in titles from the strings file.

Adding line breaks in Framefile.json works fine

[code]

but not in title.strings

[code]

[2015-06-06 21:10] marthinfreij opened #26 "Support for setting font size manually"
It would be great to have the option to set font size.

[2015-06-07 03:08] KrauseFx commented on #26
The font size is currently calculated automatically based on the screenshot size. It wouldn't work if you could choose your own font size, as the different device sizes require different font sizes.

[2015-06-07 03:16] #26 closed

[2015-06-07 03:17] KrauseFx commented on #25
I haven't thought of it. Are you using `frameit` 2.0 without the `keyword`, right? Does the layout work correctly when having a multi-line title?

[2015-06-07 05:57] marthinfreij commented on #25
Yes, that's right, `frameit`2.0.1 without `keyword`.

I'm aiming for something like this:
![App Store Example](http://a4.mzstatic.com/us/r30/Purple3/v4/53/1a/b4/531ab4a4-f513-5717-464b-c2f496608d4b/screen322x572.jpeg)

And this is what I have right now:
![Current State](https://dl.dropboxusercontent.com/u/390678/en-US-iPhone6-2-Recipe-portrait_framed.png)

I figured out that I could affect the fon

[2015-06-08 15:57] osgafarov commented on #24
Version: imagemagick-6.9.1-4
Installed using homebrew.

[2015-06-12 08:31] walsht opened #27 "iPhone 4 device templates"
Looking for the iPhone 4 device template.  It is no longer hosted here.
https://developer.apple.com/app-store/marketing/guidelines/#images

[2015-06-13 11:59] KrauseFx commented on #27
Unfortunately there has never been iPhone 4 templates. `frameit` will show you a warning, that there is no 3.5" frames available.
Sorry, but I don't think there is much I can do. In case you have 3.5" frames that are for public use, please let me know.

[2015-06-13 11:59] #27 closed

[2015-06-16 13:36] davidrothera opened #28 "Alpha / Background is not removed from iPad models"
Using the current download from Apple and the latest Frameit (v2.0.1) the background isn't removed when converting the PSD to PNG for iPad's meaning when you then go to use them with a background it has a white block around it.

[2015-06-16 13:46] davidrothera commented on #28
Ah, after looking at the source files it looks like this is actually an Apple screwup, their PSDs for the iPad have a background layer enabled whereas the others don't.

[2015-06-16 13:46] #28 closed

[2015-06-17 05:13] KrauseFx commented on #28
Yes, that's really annoying, opening the files with Pixelmator and removing the white layer fixes the issue :+1:

[2015-06-30 11:09] walsht opened #29 "Special Characters support"
This is working well for me, but once I try to use Chinese language I get "?" as the text.  Is there a UTF-8 setting to support Special Characters?

[2015-06-30 12:27] KrauseFx commented on #29
Unfortunately I haven't found a solution for this issue yet.

[2015-06-30 13:52] walsht opened #30 "Unsupported screen size [1324, 895]"
Getting a Unsupported screen size on running frameit and pushing to iTunes Connect.

I am only getting this for frameit images that do not have text.  Is text required?

[06:46:01]: fastlane finished with errors
/Library/Ruby/Gems/2.0.0/gems/deliver-0.12.1/lib/deliver/app_screenshot.rb:126:in `calculate_screen_size': Unsupported screen size [1324, 895] for path '/Users/twalsh/Documents/Projects/..

[2015-06-30 14:43] KrauseFx commented on #30
Did you use `frameit` to add device frames around your screenshots, but no title? If so, that's because it doesn't match the iTC requirements. If you share a bit more of your setup and what you want to achieve I can help you :

[2015-06-30 18:50] walsht commented on #30
I am trying to add frameit with text for all my screenshots, but found it will not work for Chinese Characters.  So, looking to just use the frameit without text.  That is when I get the error above.

[2015-07-05 03:49] grng opened #31 "Errors: undefined method `find' for nil:NilClass"
Hi!

I'm getting 40 `undefined method 'find' for nil:NilClass` errors for 20 screenshots on calling `frameit`.

What can it be? Thanks!

[2015-07-05 07:52] KrauseFx commented on #31
Please share the complete output + stack trace that is shown by `frameit`

[2015-07-05 21:38] grng commented on #31
It's just it:

    $ frameit
    [18:36:20]: undefined method `find' for nil:NilClass
    [18:36:20]: undefined method `find' for nil:NilClass
    [18:36:21]: undefined method `find' for nil:NilClass
    [18:36:21]: undefined method `find' for nil:NilClass
    [18:36:21]: undefined method `find' for nil:NilClass
    [18:36:22]: undefined method `find' for nil:NilClass
    [18:36:22]: undefined met

[2015-07-06 07:35] KrauseFx commented on #31
Oh, I assume it's because there is no `data` key in your JSON file. Of course that's not ideal, I'll work on a fix over the next few days. Please try adding an empty `data` key like seen [here](https://github.com/fastlane/examples/blob/master/MindNode/screenshots/Framefile.json)

[2015-07-06 23:55] grng commented on #31
Thanks, that fixed the problem!

[2015-07-06 23:55] #31 closed

[2015-07-07 07:08] KrauseFx commented on #31
I already pushed a fix so that `frameit` will ignore the missing key.

[2015-07-11 13:18] ntaku opened #32 "StringParser didn't work when using UTF-8 encoded title.strings file."
Thank you for providing such a nice tool. I tried to create screenshots with title and it was failed. This is the error message.

[code]

This was caused by UTF-8 encoded title.strings file, so I can avoid this error by creating title.strings by UTF-16. I thinks this line caused this problem.

strings_parser.rb L11
[code]

[2015-07-11 13:35] KrauseFx commented on #32
`.strings` files should always be UTF-16. Have you created them in UTF-8? If so, I think `frameit` should detect this and show a proper error message. What do you think?

[2015-07-11 13:42] ntaku commented on #32
I created .strings files in UTF-8 because I didn't know .strings files should always be UTF-16. I appreciate if frameit tell this by error message.

[2015-07-12 12:26] Joseph310 commented on #25
I also noticed that doing a 2-line title on landscape screenshots really messes the font-size up.

When using thin fonts like San Francisco in two-lined mode also causes the "g" and "j" to be cut off. Increasing the padding will then cause other problems.

[2015-07-13 08:13] Jules2010 opened #33 "Backgrounds for specific devices sizes?"
I've previously created background with embedded text specific for different screen sizes.

Also, I have to move the device part of the screen shot to different positions, so they aren't centered etc.

So it would be great to be able to provide frameit with device specific background files and positions for device image. Also as a bonus scaling of the device image and multiple device shots per ima

[2015-07-14 19:02] ryanjm opened #34 "Background color"
Instead of referencing a background image it'd be great to be able to give it a hex color for a solid background.

[2015-07-14 19:03] ryanjm opened #35 "Documentation for Framefile.json"
It'd be helpful to have some documentation around `Framefile.json`. What is required, what is optional?

I'm trying to just have a title and no keyword, but I'm not getting it to work yet.

[2015-07-14 20:03] ryanjm opened #36 "Doesn't support multiple lines"
It doesn't support multiple lines. At least I couldn't figure it out.

I wish it would automatically wrap, but even trying to force it with `\n` and `\r` didn't work.

[2015-07-14 22:30] KrauseFx commented on #36
It seems to be supported in the `Framefile.json` (https://github.com/fastlane/frameit/issues/25). I still haven't found a perfect solution for that issue though, as line breaks should happen automatically.

[2015-07-15 00:52] ryanjm commented on #36
Thanks @KrauseFx. I'll have to revisit that solution in a couple weeks. It'd be nice to automate the screenshot generation. I'm glad I came across this tool.

[2015-07-15 00:52] #36 closed

[2015-07-15 07:17] KrauseFx commented on #36
:+1:

[2015-07-26 06:31] voisine commented on #32
strings files are UTF-16 by default, but UTF-8 works just fine inside iOS projects, why not handle both?

[2015-07-27 15:47] tabrindle commented on #34
+1

[2015-07-27 20:33] KrauseFx commented on #34
Sounds good :+1:

[2015-07-27 21:39] bradtheappguy commented on #13
I modified the offset values to fix this for iPhone 6 and 6Plus and it works well using new Apple PSDs that I downloaded today.

![iphone6_framed](https://cloud.githubusercontent.com/assets/31060/8918490/16ed94a2-346d-11e5-9beb-b2d8573df71b.png)
![iphone6plus_framed](https://cloud.githubusercontent.com/assets/31060/8918491/16eff6b6-346d-11e5-996c-06d91e9f295e.png)

https://github.com/fastlane/fram

[2015-07-28 12:27] kronos opened #39 "Looks like gem executable is broken"
[code]

[2015-07-28 13:37] KrauseFx commented on #39
Could you try running
[code]

[2015-07-28 13:39] kronos commented on #39
Now it's working... That's strange... Thanks anyway.

[2015-07-28 13:39] #39 closed

[2015-07-28 17:17] KrauseFx commented on #32
@voisine agreed, `frameit` should just handle both formats.

[2015-07-31 11:32] #13 closed

[2015-08-13 08:32] Joseph310 opened #40 "iPhone portrait titles font too large"
For the iPad screenshots the font is sized proportionally. But on the portrait iPhone screenshots the font is too large. At that size only two words would fit nicely. Currently I am framing with a space as a title value and photoshoping the text in.

![screen shot 2015-08-13 at 10 06 16](https://cloud.githubusercontent.com/assets/5908846/9245709/88b26bee-41a6-11e5-9ff4-39ed777ce192.png)

[2015-08-13 10:01] KrauseFx commented on #40
I already worked on a fix, you can clone this repository and run `sudo bundle install && sudo rake install` to already use it :+1:

[2015-08-14 09:50] Joseph310 commented on #40
Sounds great. Thanks for this great tool!

[2015-08-14 09:50] #40 closed

[2015-08-18 12:53] KrauseFx commented on #24
Could you try the latest version of `frameit` and let me know if that works for you?

[2015-08-19 18:34] guidev opened #42 "Gray overlay"
Hi,
on some devices (iPhone 6+, iPhone 6 and iPhone 5s) something strange happens: a light gray overlay is added.

iPad's screenshot are ok.

iPhone 6+:
![1_iphone6plus_img_0587_framed](https://cloud.githubusercontent.com/assets/1105813/9365319/339745f2-46b1-11e5-97cf-89a37b104694.png)
![1_iphone6plus_img_0587](https://cloud.githubusercontent.com/assets/1105813/9365318/338e6fcc-46b1-11e5-9c21-1e16

[2015-08-20 01:58] ide commented on #32
Ran into this too. This library looks like it could help with the charset detection and conversion: https://github.com/brianmario/charlock_holmes

[2015-08-21 22:37] lferro9000 opened #44 "Squelsh strack traces"
Currently there is a huge stack trace when an image title / heading is not found.

It would be just fine to state the file name with that indication (in red).

The stack trace is not needed.

[2015-08-21 22:39] lferro9000 opened #45 "Ignore files"
Certain files may not be needed to be processed.

Having a way to indicate a list of such files on the JSON would be helpful (example, the background images are normally not needed to be processes).

[2015-08-21 22:41] lferro9000 opened #46 "Source, target and configuration folders"
To allow more flexible workflows, it would be a good idea to be able to state where frameit should search for images, where it should place the processed images and where is the configuration (with all associated files - fonts, strings, etc relative to the configuration, unless stated with absolute values on it).

[2015-08-22 08:57] KrauseFx commented on #44
@lferro9000 I agree that the stack trace is usually not needed, but if a user reports an issue it is super helpful for me to see the full stack trace to resolve the issue :+1:

[2015-08-22 21:15] lferro9000 commented on #44
The idea is to squelsh it only for that use case (image found without the corresponding texts).

[2015-08-23 07:46] KrauseFx commented on #44
Could you share an example output?

[2015-08-24 14:43] lferro9000 commented on #44
[code]
This is the output of one of the missing images. The stack trace is not that helpful in just this kind of cases. And the error message should point to the language files keyword.strings and title.strings (inside the respective languages) not just the Framefile.json.

[2015-08-25 07:34] #44 closed

[2015-08-25 07:35] KrauseFx commented on #44
This will be fixed in the next release :+1:

[2015-08-26 19:36] guidev commented on #34
+1

[2015-08-26 22:43] guidev opened #48 "Font size adjustment"
Hi,
sometimes the titles are too small on some devices (iPad),
it would be nice to adjust the font size manually, maybe using a multiplier for every device.

[2015-08-26 22:44] guidev commented on #42
I solved editing the PSD provided by Apple, some devices have additional layers that cause this problem.

[2015-08-26 22:46] guidev commented on #34
A little workaround: I used a small background.png (100px * 100px) with a solid color and it works well.

[2015-08-26 22:51] guidev commented on #35
+1

[2015-08-26 22:55] #42 closed

[2015-08-31 15:06] samwize commented on #27
I use the template from [Pixiden](http://www.pixeden.com/psd-mock-up-templates/iphone-4s-psd-vector-mockup-template). Also need to edit the offsets to generate the screenshots correctly, so I [forked a version](https://github.com/samwize/frameit).

[2015-09-15 04:28] rodericj commented on #34
And if you are a newb like me, this might help:

`convert -size 100x100 xc:#1F3A93 background.jpg`

That'll create a solid color background that is 100x100 at the color #1f3a93.

[2015-09-16 19:14] olutsenko commented on #35
Is it possible to get only a title with no keyword?

[2015-09-16 20:44] KrauseFx commented on #35
@olutsenko Yes, just don't specify a keyword.

[2015-09-16 22:38] olutsenko commented on #35
@KrauseFx Hi Felix, thanks a lot for you reply. I have a problem setting the title. Get this error:

*Could not get title for screenshot ./Brainstorming.png. Please provide one in your Framefile.json*

What is the format for specifying title? I already have folder en-US with title.strings with a few strings. This doesn't seem to help.

[2015-09-17 16:39] KrauseFx commented on #35
@olutsenko Please share your existing configuration, so I can tell you why it isn't working :+1:

[2015-09-17 16:53] olutsenko commented on #35
Basically I am trying to get example to work.

**Framefile.json**

{
    "default": {
        "keyword": {
            "font": "./fonts/SF-UI-Display-Regular.otf"
        },
        "title": {
            "font": "./fonts/SF-UI-Display-Regular.otf",
            "color": "#545454"
        },
        "background": "./background.jpg",
        "padding": 50
    },

    "data": [
             {

[2015-09-17 16:55] KrauseFx commented on #35
@olutsenko Remove the `filter` elements from your `Framefile.json`, they are used to only apply a rule for certain files.

[2015-09-17 17:00] olutsenko commented on #35
{
    "default": {
        "keyword": {
            "font": "./fonts/SF-UI-Display-Regular.otf",
            "supported": ["en-US"]
        },
        "title": {
            "font": "./fonts/SF-UI-Display-Regular.otf",
            "supported": ["en-US"],
            "color": "#545454"
        },
        "background": "./background.jpg",
        "padding": 50
    },

    "data": [
             {

[2015-09-17 17:12] KrauseFx commented on #35
@olutsenko Could you submit a separate issue (as we're going off-topic here) and share your complete output when running `frameit`? Without the stack trace it's hard to guess the reason for the error.

[2015-09-18 06:54] olutsenko opened #49 "Can not generate a framed screen with a title."
Hello,

I am trying to get the example working. I want to have two screenshots framed with a title on top. Bellow is my configuration + output for the 'frameit --verbose'

<img width="541" alt="screenshot 2015-09-18 08 46 47" src="https://cloud.githubusercontent.com/assets/303121/9953531/e38abdc6-5de1-11e5-9a27-00c3980912b8.png">

**Framefile.json**
[code]

**title.strings**
[code]

**Output**
[co

[2015-09-18 20:03] moesalih opened #50 "Doesn't work with new Apple product images"
Using frameit with the latest product images from Apple doesn't work anymore. I tried with the iPhone 6s and iPad mini 4:

[code]

[2015-09-19 16:30] skrew commented on #49
Had the same problem, you can try:
- Use the same example, like you do in precedent issue.
- Open files in Xcode (title.strings and keyword.strings) and in right panel, under "text settings", change text settings to "Unicode (UTF-16)"

Works for me only where files are encoded in UTF-16.

I'm happy now ! ;)

[2015-09-19 19:46] ayushgoel commented on #35
+1

[2015-09-19 20:00] ayushgoel opened #51 "Unable to frame images if custom font not given"
In case I do not specify a custom font in `Framefile.json` i.e. comment out any of the `font` keys in the following snippet, `frameit` fails. This happens when in backtrace, it says `using the default one`.
[code]

Here is the backtrace:

[code]

[2015-09-19 22:05] skrew commented on #25
I don't (really!!!) know Ruby language, but i know in other languages behavior of "special characters" change when using a single quote or double quote...

In editor.rb, line 228, i add:
[code]
and change line 236 to
[code]
make \n to works as expected... As i don't know Ruby, i don't provide a PR for this, it's just a better-than-nothing fix for me... But i hope my diagnostic are good and can hel

[2015-09-20 03:32] KrauseFx commented on #25
@skrew this looks good actually. Feel free to submit those 2 changes as a pull request :+1:

[2015-09-20 08:47] olutsenko commented on #49
@skrew Thanks a lot for your reply. Unfortunately your suggestion didn't solve the issue. Output is the same.

[2015-09-20 10:36] skrew commented on #49
@olutsenko add "filter" in "data" in Framefile.json (like MindNode example)

[2015-09-20 11:07] olutsenko commented on #49
It looks like it doesn't go into 'en-US' folder to read the .strings file. Because of that it falls back to default title which must be specified in .json file. But what format for specifying the title?

I tried one bellow, but result is the same.

 "data": [
             {
             "filter": "Brainstorming",
             "title": "Test title",
             "keyword": {
             "color": "

[2015-09-20 11:12] skrew commented on #49
Test with my config... It's works

title.strings: (in language directory)
[code]

keyword.strings: (in language directory)
[code]

Framefile.json
[code]

[2015-09-20 15:44] skrew commented on #25
Sorry it's not a good fix... i had to patch this line too:

[code]
and change `2.0` with `3.0` because i use 2 lines...  If not the text are not centered

[2015-09-20 21:01] olutsenko commented on #49
@skrew I have the same output with your configuration. Do I have to follow some file-naming format for the screenshots to match them with data in .strings file?

[2015-09-20 21:03] skrew commented on #49
@olutsenko yes, eg: i would use `1_iphone6_Brainstorming.png` for the first in example. Tested, it works.

[2015-09-23 18:31] kcandr commented on #49
@olutsenko Are your ```.strings``` files encoded with UTF-16? Do you saw https://github.com/fastlane/frameit/issues/32?

[2015-09-28 17:34] philipengberg commented on #50
I'm having the same issue

[2015-09-29 13:02] mark5422 commented on #50
Here’s what I’m seeing in the terminal when I try and run frameit with the PSDs from Apple in the devices_frames folder.
'''
Converting PSD file '/Users/username/.frameit/devices_frames/iPhone_6_Horz_SpaceGray_sRGB_0914.psd'
dyld: Library not loaded: /usr/local/lib/libfreetype.6.dylib
  Referenced from: /usr/local/bin/convert
  Reason: image not found
dyld: Library not loaded: /usr/local/lib/libfr

[2015-09-29 13:27] mark5422 commented on #50
My issue turned out to be a broken installation of imagemagick. Once I uninstalled it and reinstalled it everything worked fine.

[2015-09-29 13:28] mark5422 commented on #50
I had this issue and it turned out to be a broken install of imagemagick. Once I removed and installed that everything worked fine.

[2015-09-30 11:47] yinkou opened #52 "Feature request: Frame apple watch screens"
It's not for the app store but it is useful to quickly put designs and concepts into a nice device for presentations or whatever.

[2015-10-01 14:52] mark5422 opened #53 "frameit not finding iPad mini device frames due to name change"
Looks like Apple changed the name of the iPad mini files when they switched to the iPad mini 4 marketing images.

frameit reports it's looking for iPad_mini_Vert_SpaceGray_sRGB.png but the images are now named iPad-mini-Space-Gray-vertical.png

[2015-10-01 15:08] mark5422 commented on #53
Maybe unrelated, but frameit is also choosing to use the iPad mini frames for iPad Air screenshots resulting in a misplaced screenshot on the frame

[2015-10-01 23:16] KrauseFx commented on #53
Thanks again for the fix :+1:

[2015-10-01 23:16] #53 closed

[2015-10-02 00:07] mark5422 commented on #53
You're welcome. I didn't get into the file name change as I thought that might break other things so that issue still needs to be looked at.

[2015-10-05 22:06] yogoo commented on #31
Not sure the fix works as intended. I just ran into the same issue. Adding an empty ```data``` key, fixed it.

[2015-10-05 22:54] bb-git commented on #25
@skrew Thanks so much :)
if the font gets cut off it might help to decrease the font size a bit

i.pointsize actual_font_size * 0.9

[2015-10-05 23:36] yogoo commented on #25
I was about to submit a PR with the modifications but discovered the text is not vertically centered when the title doesn't contain a newline character. As I'm not a ruby programer, I don't know how to correct this. If any of you guys know, I can add the code to it and submit the PR.

[2015-10-05 23:45] skrew commented on #25
Yes as i had said, my patch only works for my needs, it just miss a correct way to count lines. Hardcoding `3.0` are not a good patch.

[2015-10-06 17:13] plaetzchen opened #55 "Exclude devices from frameit"
Hi,

I would love to have an option to exclude a device (iPhone 4) from frameit so that if I would run frameit to generate backgrounds iPhone 4 screenshots where just left as they are.

Thanks for considering.

[2015-10-07 17:16] mark5422 opened #56 "Passing a different directory for the device frames"
Would there be any way to set a different directory as the place to find the device frames so I could include them in a private repo for my team instead of having to have them installed on each persons machine?

[2015-10-07 17:18] KrauseFx commented on #56
You can just add a `device_frames` folder in your `./fastlane/screenshots` directory with all the frames which you can commit to git :+1:

[2015-10-07 17:27] onmyway133 opened #57 "The dimensions of one or more screenshots are wrong"
I'm trying to convert my iPhone 6 and 6+ screenshots to frameit.

[code]
All went fine, but the generated screenshot frame for iPhone 6 is 613x1255 (where it must be 750x1334), hence iTunes Connect errors `The dimensions of one or more screenshots are wrong`
The same for iPhone 6+,  the frame is 622x1255, where it should be 1242x2208

The wrong image sizes are actually from the psd files https://d

[2015-10-07 22:25] mark5422 commented on #56
Awesome, thank you.

[2015-10-07 22:25] #56 closed

[2015-10-07 22:29] mark5422 commented on #56
Is that device or devices?

[2015-10-07 23:57] mark5422 opened #59 "Limiting where frameit looks for screenshots"
When I moved ```device_frames``` into the ```./fastlane/screenshots``` folder frameit now looks at those frames as if they are screenshots. Is there a way to exclude directories from frameit?

[2015-10-08 01:54] KrauseFx commented on #56
I think it should both work. Give it a try :+1:

[2015-10-08 10:19] mark5422 commented on #56
I have mine set as devices with the s and it works so both are indeed. Thanks again.

[2015-10-08 13:00] winkelsdorf commented on #53
Sorry for hi-jacking but this is fully related to this Issue and PR:

Tried to incorporate the changes from PR #54 and renamed the iPad Mini 4 files accordingly but screenshots still do not fit the frame.

Not being a ruby developer I used this to update frameit:
[code]

Frameit of course still reports v2.2.1 because of not bumping build versions for each commit by a CI/Build.

Tried setting snapf

[2015-10-08 13:30] mark5422 commented on #53
Are your screenshots portrait or landscape?

[2015-10-08 13:34] winkelsdorf commented on #53
Landscape

[2015-10-08 13:40] mark5422 commented on #53
I only had a portrait app I was developing at the time so the fix is only for portrait orientation.

Sorry that wasn't specified.

[2015-10-08 13:41] mark5422 commented on #53
I'll see if I can put together a fix for that later today and will do another pull request.

[2015-10-08 14:02] winkelsdorf commented on #53
Oh I see, that's why I can't get it to work correctly ^^ Sounds great, thank you very much! For now I simply switch to portrait orientation, problem solved.

[2015-10-08 14:09] KrauseFx commented on #57
https://github.com/fastlane/frameit#usage

I assume you don't have set a title / background? The use-case is that you use `frameit` for things like newsletters, websites, etc.

[2015-10-08 16:53] onmyway133 commented on #57
@KrauseFx Got it. Sometimes I just don't want the titles. But if it is needed for a successful Appstore submission, then I will add some text to it. Thanks ^^

[2015-10-13 16:08] tinyhappysteps opened #60 "Followed instructions, copied example folders as is but got the title not found problem still"
Like the other posters (same error message).  Didn't edit the files at all and made sure all the files and folders including custom fonts were there.  Any suggestions?

ps - if anyone has a working folder that would be MUCH appreciated

[2015-10-15 21:56] bartl-git opened #61 "iPad Screenshots issues"
iPad screenshots are not framed properly (portrait orientation):

![ipad](https://cloud.githubusercontent.com/assets/1385441/10528736/b2ad4672-73a0-11e5-8d65-c2d9c989d2a0.png)

Thanks :).

[2015-10-18 21:29] bartl-git commented on #61
https://github.com/fastlane/frameit/pull/62

[2015-10-18 21:54] bartl-git commented on #61
#63

[2015-10-19 00:27] KrauseFx commented on #61
Thanks for the pull requests, this will be in the next release, in the mean-time, please install the gem locally to use it already :+1:

[2015-10-19 00:27] #61 closed

[2015-10-19 18:12] bartl-git commented on #49
Hi. I got the same problem.
Strings files are utf-16 encoded.
Did anyone solve this?

[2015-10-20 00:27] Morpheus2002 commented on #25
Any news regarding this issue? I'm facing the same problem.

[2015-10-27 23:48] Tibbs opened #64 "Could not find a valid template for screenshot: Missing file: 'iPad_mini_Horz_Slvr_sRGB.png'"
I tried to use frameit for iPad screenshots but it fails to generate/find the correct templates
It is expecting: Missing file: 'iPad_mini_Horz_Slvr_sRGB.png' but only "iPad-mini-Silver-horizontal.png" available

If I rename the template, it works but the screenshot is misaligned.

[01:30:24]: Could not find a valid template for screenshot './en-US/SS1.png'
[01:30:24]: You can download new template

[2015-10-28 00:33] Tibbs commented on #64
Actually it's better with 2.2. it does work after renaming the files and moving them to the devices_frames directory

There are two problems:
1. Templates are renamed by Apple which breaks the workflow, in my case I had to rename iPad-mini-Silver-horizontal.psd to  iPad_mini_Horz_Slvr_sRGB.psd

2. If you download, unzip the Apple templates they are contained in subdirectories so frameit does not f

[2015-10-29 09:34] chinnawatp commented on #49
For anyone having this eror
```Could not get title for screenshot " ". Please provide one in your Framefile.json"```
My solution is to put filed "text" in  "title":{} Framefile.json

*Example
Framefile.json
[code]

[2015-11-03 22:19] jaylyerly commented on #51
I had the same problem.  Seems like there's something wrong with ImageMagick (mogrify) being able to find fonts.

As per this SO: http://stackoverflow.com/questions/28043993/rmagick-unable-to-read-font, you can fix it with

brew install gs

Not sure why, but I suspect the ghostscript installation causes a system level font cache to be (re)built.

[2015-11-06 01:55] soheil commented on #49
Here is a sample for anyone else stuck:

[code]

[2015-11-07 13:53] buidinhduong opened #66 "Parsing documentation for frameit-2.3.0 unable to convert "\x89" from ASCII-8BIT to UTF-8 for lib/assets/empty.png, skipping"
I found this when install Frameit on OSX ! After running command "sudo gem install frameit"

"Parsing documentation for frameit-2.3.0
unable to convert "\x89" from ASCII-8BIT to UTF-8 for lib/assets/empty.png, skipping
"

[2015-11-07 19:42] ConfusedVorlon opened #67 "Is there a way to show my whole screenshot?"
the bottom row of my app is particularly important.

In many of the framed screenshots, they drop below the page and the bottom of the app (bottom toolbar) is hidden.

Is there a way I can say something along the lines of 'push the device up by X pixels'
Or perhaps 'show full screen'

There certainly seems to be space to spare where the title is...

![ipadretina-01controlsscreen_framed](https://cl

[2015-11-08 09:22] KrauseFx commented on #67
Sorry, that's not possible with `frameit` now :cry:

[2015-11-08 19:32] ConfusedVorlon commented on #67
Ok - now there is...
https://github.com/fastlane/frameit/pull/68

[2015-11-09 12:54] ConfusedVorlon commented on #59
if you run through fastlane, you can specify the path

    frameit(white: true, path: './fastlane/screenshots')

[2015-11-13 16:03] ConfusedVorlon opened #69 "Unsupported screen size when framing for Mac"
My mac screenshots are 646*907
This should work perfectly with my background - but frameit isn't happy.

     [15:42:33]: Unsupported screen size [646, 907] for path './screenshots/en-US/1screen-ios.png'

is there a way to say 'this is for Mac, so just use whatever size I give  you' ?

[2015-11-13 16:42] ConfusedVorlon commented on #69
to illustrate what I'm trying to achieve - this is the result using photoshop to resize the original screenshot with transparent padding so that it appears to be a valid size

![1screen-ios-sized_framed](https://cloud.githubusercontent.com/assets/586910/11151484/3d616ad8-8a25-11e5-97ba-77687573d106.png)

[2015-11-17 01:06] Tibbs commented on #25
Any news on this? When I translate titles they tend to be far longer than in English

[2015-11-17 12:32] JagCesar commented on #52
@yinkou [Here are some high quality apple watch frames](https://dribbble.com/shots/1914277-Apple-Watch-Bezels-For-Bezel), they are made by @maxrudberg

And if you have an app you want to see in the frames mentioned above you can use those frames together with [Bezel](http://infinitapps.com/bezel/)

[2015-11-18 12:49] yinkou commented on #52
Thank you, i know what a can do and also that there a great illustrator/photoshop/sketch mockups out there.
But what i want is support for apple watch screen in frameit.
I guess my austrian friend here is quite busy with twitter right now. ;)

[2015-11-23 19:38] KrauseFx commented on #25
Fixed with https://github.com/fastlane/frameit/releases/tag/2.4.0 :rocket: Thanks @notjosh

[2015-11-23 19:38] #25 closed

[2015-11-25 10:34] bb-git opened #71 "Support for multiple backgrounds"
It would be nice to assing a background image to every screenshot, just as it works with the titles.

[2015-11-25 16:24] davidrothera opened #72 "Frameit offset in iPhone6s screenshots"
It looks like the images for the iPhone 6s are *slightly* misaligned compared to the iPhone 6 images.

If I replace the existing images with old iPhone 6 ones and rename it so that they are used there are no issues.

[2015-11-28 18:02] schickling commented on #46
:+1:

[2015-11-30 07:14] AndreasAppInMed opened #73 "Suggestion: Generate iPad and iPhone combo"
Is it possible to setup frameit to support the "iPad Air 2 and iPhone 6s" combo (from https://developer.apple.com/app-store/marketing/guidelines/#images)? If so, in my case I would prefer both frames in portrait. I understand that there a number of possible combinations of iPad+iPhone, but some kind of settings file as Framefile.json could work.

[2015-11-30 21:40] alexmarktl opened #74 "Specification for Framefile.json"
Is there any detailed specification what parameters are supported by the Framefile.json?

[2015-12-01 00:22] Tibbs opened #75 "Option to limit Maximum font size"
The font size can be huge for short titles. It makes it look especially bad if there are longer titles for the same device.
It also changes bottom offset, so it makes the screenshots misaligned.

It would be a good idea to limit the font size, maybe with a sale factor similar to UILabel's minimumScaleFactor.

I tried to add extra spacing to the title, but frameit removes all white space.

[2015-12-01 08:46] alexmarktl commented on #72
Here's a screen showing the misalignment:
![1_iphone6_dictionary_framed](https://cloud.githubusercontent.com/assets/46280/11496167/70c93344-9810-11e5-866f-512f82ab1a4e.png)

[2015-12-01 08:54] alexmarktl commented on #55
Yeah. Me too

[2015-12-01 09:30] alexmarktl opened #76 "Same font size among one device"
It would be great if there would be an option that calculates the font size among all 5 screens for one device so that it would be the same (if possible) on all 5 framed screens.

[2015-12-01 13:42] nailgilaziev commented on #72
I have the same problem on iPhone 6.
![iphone6-tasks_framed](https://cloud.githubusercontent.com/assets/2749021/11502119/fdf6322e-9849-11e5-87a7-ca46f4f77221.png)
iPhone 5s and iPhone 6Plus have some misaligment problems too.
top offset
![iphone5s-tasks_framed](https://cloud.githubusercontent.com/assets/2749021/11502110/f7d96e56-9849-11e5-9570-60ad51201a67.png)
(right and bottom) or (left, top and

[2015-12-02 01:34] kmayoral commented on #32
Note, if you're creating your title.strings and keywords.strings files in Sublime Text, you'll need to save them as UTF-16 BE as the little endian option is not recognized by frameit either.

[2015-12-02 04:36] siburb commented on #76
Surely this is essential? The current font sizes are all over the place.

Perhaps along with "titleHeight", we can get more uniform results across one particular device?

[2015-12-02 08:21] alexmarktl commented on #76
Agreed. titleHeight may be a better solution.

[2015-12-02 08:24] alexmarktl commented on #72
I manually fixed it by changing the device frame PNGs, but that's not a good solution I guess. Maybe it would be good to be able to override offsets in the framefile.json. That way you could also use other device frames.

[2015-12-02 09:31] siburb commented on #76
I think a combination of titleHeight and **and** option to force the font to be the same size for a particular device would  be a great solution.

Some people like to have the some of the bottom chrome of the iPhone appearing at the bottom of the screenshots, whereas some people prefer to have the bottom of the screen at the bottom of the screenshots - titleHeight will allow this to be configured,

[2015-12-02 09:33] siburb commented on #75
+1. Similar to #76 . This would possibly be solved by forcing the font to be the same size across all of the screenshots for a particular device. Therefore will only be as large as the longest title will allow.

[2015-12-02 09:38] siburb commented on #59
frameit is actually even framing my old Default-568h@2x.png file inside an xcassets folder. It is not even in the fastlane/screenshots folder!

Will use it via fastlane instead so I can specify the folder.

[2015-12-02 09:39] siburb commented on #48
+1. This would be very useful.

[2015-12-02 10:58] madelman opened #77 "Title and keyword not in generated screenshots"
I'm trying to include a keyword and a title in the framed screenshots but it's not working for me. The documentation for the strings is not really clear about what I need to set in each file, and when I execute frameit --verbose it does'nt give any error.

My directory structure is like this:

![Directory listing](https://cloud.githubusercontent.com/assets/1317930/11529143/643cc646-98eb-11e5-9296-

[2015-12-02 11:18] nailgilaziev opened #78 "Configure default bg scaleType and set personal bg to each device"
Now scaleType is fitXY(likely).
here example:
![iphone4s-task-example_framed](https://cloud.githubusercontent.com/assets/2749021/11529266/facad01a-98fc-11e5-99e5-d541236f7ad6.png)
background.jpg have 1920*1080 size

For solid and gradient images fitXY is acceptable, but using more complex backgrounds impossible, because stretch effect for each device size.

in Framefile.json we would like to be ab

[2015-12-02 12:27] siburb commented on #77
@madelman What's in your framefile? Have you got the "keyword" and "title" properties set with their fonts & color etc?

[2015-12-02 12:34] madelman commented on #77
Sorry, I forgot to add the Framefile.json:

[code]

[2015-12-02 23:13] zkirill commented on #49
Had trouble with Xcode not saving in UTF-16 so I used TextWrangler. The setting is located on the status bar.

![screen shot 2015-12-02 at 3 12 43 pm](https://cloud.githubusercontent.com/assets/205733/11547214/318e7d68-9907-11e5-96d6-fe269490edfd.png)

[2015-12-03 16:32] plaetzchen opened #80 "Strange scaling issue"
Hi there,

After updating to 1.2.2 I changed the padding to 0x0 and now I get this strangely scaled frames:

Before:
![500x500bb](https://cloud.githubusercontent.com/assets/365135/11566670/b269c686-99e3-11e5-81c8-96756baa7b8b.jpg)

After:
![iphone5-0-news_framed](https://cloud.githubusercontent.com/assets/365135/11566678/ba9ef22c-99e3-11e5-810f-6da3aadc23c4.png)

[2015-12-03 16:32] plaetzchen commented on #80
The before one is pulled out of iTC so it's smaller in pixels (thats OK) The scaled phone is what bothers me.

[2015-12-04 06:49] siburb commented on #77
What are the "text" properties for? Is that a supported property of "title" and "keyword"? I thought that the text values for the titles and keywords were already in your "title.strings" and "keyword.strings" files?

Try this instead:

[code]

And, then if you want to change the colour of the titles, change it inside "default" instead.

[2015-12-04 08:30] madelman commented on #77
I added the text properties because I saw them in this issue comment: https://github.com/fastlane/frameit/issues/49#issuecomment-152127419 after not getting the title generated in any way.

The colors will be different for each title and keyword when I get to generate them :)

[2015-12-04 11:47] Makazone opened #81 "Support Android artwork"
I heard that fastlane tool is getting more friendly towards Android. Any plans on adding support for framing in Android devices? Similar to what [google does](http://developer.android.com/intl/ru/distribute/tools/promote/device-art.html).

[2015-12-04 17:58] KrauseFx commented on #80
@plaetzchen and it worked with `1.2.1`? Did you change anything in your configuration?

[2015-12-06 19:47] MartinRogalla opened #82 "Incorrect baseline alignment between keyword and title."
When I run frameit, the baseline of the keyword and title is misaligned(see image below). How do I fix this? The configuration used is the same as the one used by the MindNode example with modification to the font and text-colors.

*Please ignore the text as it is just a filler. I removed the screenshot from the image.*

![iphone6splus](https://cloud.githubusercontent.com/assets/1066157/11615128/9

[2015-12-06 21:54] MartinRogalla commented on #82
After looking into it a bit more, the "keyword" and "title" are separate images, which are trimmed from their whitespace and are then top aligned, causing a shift for all the text that has a different height.
Exact location of the trimming in the code:
https://github.com/fastlane/frameit/blob/master/lib/frameit/editor.rb#L251

An extreme example for this is when using the following values: **keywo

[2015-12-09 22:28] juliengomes commented on #49
I spent the last 4 hours trying to make it work... and it still doesn't !
This is a great tool, but guys please provide the minimum vital doc please, it's a real PITA !

[2015-12-14 02:45] KrauseFx commented on #49
@juliengomes I'm more than happy to merge a pull request improving the docs so they're easier to understand. Many users got a working setup using the example files and documentation.

[2015-12-14 02:45] KrauseFx commented on #82
Oh wow, nice catch!

[2015-12-14 02:46] KrauseFx commented on #81
We're working on getting more and more tool to work on Android, we'll announce them once they're ready. Make sure to follow @fastlanetools on Twitter and/or subscribe to our newsletter.

I'll close this issue for now :+1:

[2015-12-14 02:46] #81 closed

[2015-12-14 02:48] KrauseFx commented on #72
You can find the offset values here: https://github.com/fastlane/frameit/blob/master/lib/frameit/offsets.rb

To change the values, just clone this repo, update `offsets.rb` and run frameit using `./bin/frameit`. I'm more than happy to merge a pull request with updated values :+1:

[2015-12-14 02:48] KrauseFx commented on #74
Right now it's only what you can find in the docs: https://github.com/fastlane/frameit

[2015-12-14 02:49] KrauseFx commented on #73
Sorry, that's not possible with `frameit`

[2015-12-14 02:49] KrauseFx commented on #52
Do you know if Apple approved apps with screenshots with framed apple watch screenshots?

[2015-12-14 02:51] KrauseFx commented on #66
That's just a warning, and shouldn't cause any problems :+1:

[2015-12-14 02:51] #66 closed

[2015-12-14 02:51] KrauseFx commented on #51
Yeah, you'll have to install the fonts manually

[2015-12-14 08:31] yinkou commented on #52
No, i haven't tried it out yet.
I mainly need it for design and presentation purposes. That's also a thing you toolchain is used for. ;)

[2015-12-15 01:26] serluca commented on #74
This is a duplicate of #35. @KrauseFx can you close?

[2015-12-15 18:27] KrauseFx commented on #72
Fixed with https://github.com/fastlane/frameit/pull/84 :rocket: Pushing a new release later today

[2015-12-15 18:27] #72 closed

[2015-12-15 18:28] #74 closed

[2015-12-15 18:28] KrauseFx commented on #74
Thanks @serluca

[2015-12-15 18:58] davidrothera commented on #72
Thanks @KrauseFx, I was going to get to this at the weekend but :beer:

[2015-12-15 19:08] KrauseFx commented on #72
New release is live :+1:

[2015-12-16 11:16] Tibbs commented on #71
+1

[2015-12-16 12:23] Tibbs commented on #34
+1

[2015-12-16 13:42] Tibbs opened #85 "Option to Disable white space trimming"
I tried to control the title font size and add dummy second lines but frameit removes all whitecap at the beginning and the end of the title.

If it didn't I could achieve more or less uniform title font size by playing with white spaces

For example titles below should produce similar font sizes
Title1 = "           short title           "
Title2 = "Much much longer title"
Title3 = "    Very long

[2015-12-17 09:14] SebastianBoldt commented on #31
Got the same problem this morning. Adding empty data fixed it for me too.

[2015-12-17 10:07] SebastianBoldt opened #86 "add different background for a specific screenshot"
Basically i want to add a different background for one of the screenshots i took. Is this possible somehow .. could not find any hint on the internet ?

[2015-12-17 10:12] SebastianBoldt commented on #71
+1

[2015-12-17 11:23] lozhuf opened #87 "Request for more flexible title styling format"
Although great for simple situations, the keyword/title pair is impractical for more advanced string styling & localization.

For example, it is not possible to have a 3 word title where the middle word is highlighted in some way (this situation can occur with different localizations where the grammar & sentence structure demands a re-ordering of the strings.

What I suggest is using only the titl

[2015-12-18 00:11] KrauseFx commented on #86
Duplicate of https://github.com/fastlane/frameit/issues/71

[2015-12-18 00:11] #86 closed

[2015-12-18 00:11] KrauseFx commented on #71
Sorry, that's currently not possible.

[2015-12-18 11:08] felixLam commented on #82
I encountered the same issue. I started looking into the code, but I don't see an easy fix with the current logic using imagemagick for two separate labels. Would love to see this fixed, as for now we can only use the title.

[2015-12-18 11:12] felixLam commented on #85
This might be the same issue as https://github.com/fastlane/frameit/issues/76

[2015-12-18 11:13] felixLam commented on #76
+1

[2015-12-18 11:45] Tibbs commented on #85
Yes, IT is the same issue. But this could be done much easier by disabling only one line. Optimal Font sizes can be wastly different for each device. Whereas spaces scale automatically

[2015-12-21 18:28] JosephDuffy opened #88 "Title and keyword discard color option"
I've taken the default `Framefile.json` and modified it slightly to be as follows:
[code]

However, the `color` attribute seems to be discarded because the generated images just seem to use black for the text colour. If I modify the color to be invalid I get the error `Invalid color '433851'. Must be valid Hex #123123` or alternatively:

[code]

That seems to indicate that it's not being totally i

[2015-12-22 12:22] andreyslyusar opened #89 "Framing screenshots at path error"
I am trying to integrate frameit and get next error:
[code]

example of fastlane setup:
[fastlane.zip](https://github.com/fastlane/frameit/files/69629/fastlane.zip)

[2015-12-28 00:31] ZaneH commented on #30
I'm also getting this error when not adding text. I just want to use the device frames without titles.

[2016-01-04 21:01] paulshapiro commented on #35
+1

[2016-01-05 21:58] Brown-amazingness opened #91 "Framed photos unable to be submitted through deliver"
If you use snapshot to gather the images, then use `frameit` it will create the framed photos, but the dimensions will be different that `deliver` won't upload it to ITC because it is the wrong dimensions

[2016-01-05 22:13] vpolouchkine commented on #91
Can you post the full log please?

[2016-01-07 03:24] Brown-amazingness commented on #91
Oh, `frameit` runs perfectly and frames all of the desired photos, its just that when adding the frame, it changes the dimensions to something ITC can't use. Here's the dimensions from my framed photo vs. the photo the simulator gave

For the iPad air, the simulator screenshot size is 1536 x 2048, but after it is framed by `frameit` the dimensions are 831 x 1257

For the iPad pro, the simulator sc

[2016-01-07 21:14] vpolouchkine commented on #91
Have you added titles?

[2016-01-07 21:53] Brown-amazingness commented on #91
I never added a title, just ran the frameit command

On Jan 7, 2016, 2:14 PM -0700, Val Polouchkine<notifications@github.com>, wrote:

[2016-01-07 22:28] vpolouchkine commented on #91
That will not match the iTC requirements, eg. the screenshots could be used for websites, print media and emails.

[2016-01-08 09:30] KrauseFx commented on #91
From the description: https://github.com/fastlane/frameit

So make sure to also define titles, etc. if you want to use it in the App Store https://github.com/fastlane/frameit#titles-and-background-optional

[2016-01-08 09:30] KrauseFx commented on #91
Does that help? :+1:

[2016-01-08 13:43] Brown-amazingness commented on #91
Yep! I totally missed the part to add titles. Thanks!

[2016-01-08 13:43] #91 closed

[2016-01-15 10:45] jordansmithnz opened #93 "Alternative device frame location doesn't seem to work"
This doesn't seem to work currently - have tried with Apple's latest iPhone 6s images. They work fine in the normal directory but tell me they are missing when I move them to the specified directory.

[2016-01-22 11:25] jeeftor commented on #59
path doesn't seem to work on standalone mode is that correct?

[2016-01-22 11:31] jeeftor commented on #49
Maybe we could just link to this issue - if i get a chance i'll do ti.

[2016-01-25 13:46] flaushi commented on #77
I too cannot get any titles and keywords. frameit only puts the iPhone around my screenshots. Moreover, the resolutions are messed up such that itc refuses them when i try to upload them.

[2016-01-25 23:34] vpolouchkine commented on #77
@flaushi Can you please share your version and config?

[2016-01-26 06:50] flaushi commented on #77
ah sorry, I overwsaw the remark that a background image must be given. Now everything works as expected.

[2016-01-26 16:08] KrauseFx commented on #77
Is this issue ready to be closed?

[2016-01-26 17:02] cameroncooke opened #96 "Is there the ability to have landscape backgrounds with portrait device frames?"
Is there an option that would allow the mixture of portrait device screenshots to be displayed over a landscape background and visa-versa?

So we could achieve the following example:

![Example Image](https://is1-ssl.mzstatic.com/image/thumb/Purple69/v4/9c/e7/eb/9ce7eb1b-0c5d-9467-be5e-869b578f5155/pr_source.png/0x0ss.jpg)

[2016-01-27 01:49] KrauseFx commented on #96
Sorry, that's not possible currently

[2016-01-27 09:44] cameroncooke commented on #96
I'm currently working on adding this feature. I've fork s the repro and
have managed to achieve this effect while preserving original
functionality. It's my first Ruby code so need some feed back ideally. The
approach me and a colleague have taken is to allow mixed orientations
between the background image and the frame. For example if you specify an
iPad andscape background image and the frame is

[2016-01-27 18:53] kiliankoe opened #97 "Work with jpg files"
Screenshots taken on a device and then exported out of Photos.app thanks to iCloud photo library are saved as jpgs and not pngs like simulator screenshots. I couldn't figure out why frameit was telling me that it couldn't find any screenshots although they were the exact same size.
Saving all images as pngs fixed the problem.

An error message on found jpgs might also work to tell the user what to

[2016-01-28 07:16] flaushi commented on #77
yes!

[2016-01-28 21:06] #77 closed

[2016-01-29 00:58] saikrishna321 commented on #81
@KrauseFx  any update on the implementation for Android artwork ?

[2016-01-29 12:10] alensunny opened #98 "Unable to install frameit"
Hey,

Someone please help me on this. I'm getting this error message.
![issue](https://cloud.githubusercontent.com/assets/8638556/12675320/5e535fe6-c6af-11e5-8225-c342e6b4ec9e.jpg)

[2016-01-29 23:25] vpolouchkine commented on #98
Sounds like https://github.com/fastlane/fastlane/issues/567

[2016-01-30 03:12] acegreen opened #99 "Unexpected Error & Behavior"
Hello,

First off, great work on the library. Once you get going and get the hang of things, its fairly straight forward
I ran into two separate issues though:

***1. Unsupported screen size***
In my folder I have some iPad screenshots in landscape and iPhone 6S Plus in Portrait. The iPad ones run but the iPhone gives me the following error:

[21:52:11]: Unsupported screen size [931, 1656] for pat

[2016-01-31 18:15] ph1lb4 opened #100 "Wrong baseline"
I am experiencing a problem with the baseline of the title and the keyword as seen in the screenshot below.

The problem is only on this screenshot. Another one in english is just fine.

![iphone5-02_special_stage_overview_framed](https://cloud.githubusercontent.com/assets/6817230/12703905/d5ebb148-c84e-11e5-9479-2b7bee6e7cf4.png)

![iphone5-01_calculate_special_stage_framed](https://cloud.githubu

[2016-01-31 18:21] ph1lb4 opened #101 "Frameit always skips the same screenshot"
I have setup frameit and works great. However, it always skips the fourth of my five screenshots.

All screenshots are in the same folder and are named starting with 01 and so on.

Here is the output of frameit:

[code]

[2016-02-01 09:17] ph1lb4 commented on #101
Additionally i tried deliver today which does find the fourth screenshot:

[code]

[2016-02-01 10:45] cameroncooke commented on #96
Did you get a chance to have a look at what we've done? Just would be interested to see if it has an value and whether we should continue it further?

[2016-02-01 18:57] KrauseFx commented on #101
Ah, I guess this is probably due to a "hacky" way to skip WatchOS screenshots, so if the filename contains `watch` it will be skipped.

[2016-02-02 21:36] ph1lb4 commented on #101
Alright, I will just change the filename then. Thanks.

[2016-02-02 21:51] KrauseFx commented on #101
Cool :+1:

[2016-02-04 01:45] temitope commented on #27
@samwize thank you so much brother. that was so helpful. really appreciate it. frameit silver! :D

[2016-02-04 09:14] Rico99 commented on #49
@olutsenko For what it's worth, I ran into the same issue today and finally figured it out.

If you are using localized screenshots, you must **place the screenshots into the language folder** (e.g. en-US) that contains the .strings files.

Your test screenshots Organizing.png and Brainstorming.png are at the top level, but they have to go into the *en-US* folder (along with the .stings files).

[2016-02-05 21:45] vpolouchkine commented on #99
Can you please share your version and the full log please?

[2016-02-06 06:15] Rico99 commented on #85
+1 Ran into the same issue. The font size on the iPad screenshots is way too large (I use only short titles) and I was looking for a way to decrease the font size. Adding spaces in front and at the end could be a simple way to "set" the font size.

Of course, being able to set a maximum font size as described in #75 would work as well.

[2016-02-08 13:19] saikrishna321 opened #104 "Support for Android"
Is there any support for Android Platform ?

[2016-02-08 14:24] mfurtak commented on #104
Hi @saikrishna321 - Android is not supported at this time, sorry!

If it was supported, what would you like to see?

[2016-02-08 14:24] #104 closed

[2016-02-08 16:34] saikrishna321 commented on #104
@mfurtak i would like the images into the device Frame like NExus 5 Nexus 6 n  many more

[2016-02-08 23:30] mfurtak commented on #104
Great! Hopefully we can have some good news for you in the future!

[2016-02-09 07:12] osrl commented on #59
I can tell the same thing if I'm not wrong @jeeftor

[2016-02-09 10:28] osrl commented on #30
+1 to @ZaneH
I just frame the snapshots with `frameit(white: true, path: './fastlane/screenshots')` Here is the log (error number e9ff75535b7ff3f321486d9aeb55f523):

[code]

[2016-02-09 18:19] i2amsam commented on #98
@alensunny I'm going to close this as a duplicate of the issue @vpolouchkine mentioned, feel free to re-open or refile with more info if it is a different issue.

[2016-02-09 18:19] #98 closed

[2016-02-10 20:43] ohwutup commented on #59
fastlane currently does not support the path when running from the command line. marked it as a feature request. thanks for raising the issue everyone!

[2016-02-10 20:43] #59 closed

[2016-02-12 10:42] aabulkhairov commented on #35
Is there any progress on this?
Me too encountering both

    Could not get title for screenshot ./Brainstorming.png. Please provide one in your Framefile.json

and

    no implicit conversion of nil into String

[2016-02-12 10:42] aabulkhairov commented on #60
Me too with this problem

[2016-02-12 11:58] tobiasschuerg commented on #104
Like this: http://developer.android.com/distribute/tools/promote/device-art.html - only automated

[2016-02-12 14:25] aabulkhairov opened #105 "undefined method `split' for nil:NilClass for OS X screenshots"
Receiving
`undefined method `split' for nil:NilClass`
while doing frameit command to make OS X screenshot. Using same background.jpg from example + my screenshots of Air 13" 1440px entire screen

Framefile.json:

[2016-02-12 20:00] i2amsam commented on #35
@aabulkhairov could you open another issue with the full output of running the command and your `Framefile.json`

[2016-02-12 20:13] i2amsam commented on #105
@aabulkhairov could you post the whole stracktrace (you may need to include `--verbose`)?

[2016-02-13 00:22] ConfusedVorlon opened #106 "suggestion: support facebook's frames"
there are a whole bunch of great frames. This would be a great base to enable android support.

https://facebook.github.io/design/devices

[2016-02-13 04:54] saikrishna321 commented on #104
@tobiasschuerg something like this we should have it as a part of frameIt

[2016-02-16 17:45] vpolouchkine commented on #60
Can you please post the full output and your Framefile.json?

[2016-02-18 00:47] hunterleebrown commented on #49
@Rico99 THANK YOU! I had to place the screenshots in the language folder!  doh!   I hadn't taken the screenshots, my colleague did... but I see now "en-US" in their file name.   Thanks again!

[2016-02-25 11:09] aabulkhairov commented on #105
@i2amsam here:

[14:00:41]: undefined method `split' for nil:NilClass
sultair:cidertv-osx almas$ frameit
[14:03:32]: Could not find offset_information for './en-US/1-slide1.png'
sultair:cidertv-osx almas$ frameit
[14:03:54]: undefined method `split' for nil:NilClass
sultair:cidertv-osx almas$ frameit
[14:07:58]: undefined method `split' for nil:NilClass
sultair:cidertv-osx almas$ frameit
[14:08:23

[2016-02-25 11:21] aabulkhairov commented on #105
Resolved!

added to Framefile.json (was either missing from original example, or figured out later :)):

"padding" : 20,

title, keyword with custom font paths

[2016-02-25 11:21] #105 closed

[2016-02-25 11:41] aabulkhairov commented on #69
Have you resolved this? I'm stuck on this issue too! My background image is 1440x900, initial screen capture is also 1440x900, while the frame inside background macbook screen is 922x576.
Here's what i get:

![1-slide1_framed](https://cloud.githubusercontent.com/assets/1159964/13318771/bc1f5c8c-dbcd-11e5-98b6-32b72b9b0ff7.png)

Please someone help. How to define desired screen capture size?

[2016-02-25 23:51] vpolouchkine commented on #69
`frameit` currently supports iPhone 6 Plus, iPhone 6, iPhone 5s and iPad mini.

We'll see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to `fastlane`.

[2016-02-26 09:16] ConfusedVorlon commented on #69
the description on the front page of this repo says that it supports Mac OS including providing instructions in the Mac separate section. ```With frameit 2.0 it's possible to also frame Mac OS X Application screenshots.```

[2016-02-26 17:30] vpolouchkine commented on #69
Ah, yes, you're right.

[2016-02-27 02:38] dvalenzuela-com opened #108 "Can't read strings from 'title.strings'"
Hi Guys,

   I just updated fastlane before configuring frameit for the first time. Fastlane asked me to update itself to  the latest version that was just released today, so I did.

   I have spent a couple hours trying to configure this and get the following error, which I believe is due to the new version. Please note the line

[code]

I believe this is due to the new version because of the fol

[2016-02-27 02:50] i2amsam commented on #108
@dvalenzuela-com could you post your framefile too? I think that `method_missing` line is a red herring.

[2016-02-27 02:52] dvalenzuela-com commented on #108
Absolutely!

[code]

[2016-02-27 03:03] i2amsam commented on #108
So the first error (about `Unsupported screen size [2250, 1182] for path './background.png`), it looks like it is trying to pick up the background file as something to frame, it's doing that because it's "globbing" `*.png` and the background is a `png` (the example works because it is a `jpg`).  Could you try moving the background out of the same directory (or converting it to a different format)?

[2016-02-27 03:09] dvalenzuela-com commented on #108
I am running frameit inside my fastlane/screenshots/ directory. I thought it could be that, but then I saw an example using a `.png` file. Anyway, I tried what you said and I still get some of the same errors:

[code]

Just in case, my title.strings file is inside the language folders (e.g. '/fastlane/screenshots/de-DE/') and I made sure it was UTF-16. I followed the instructions from another issu

[2016-02-27 03:31] i2amsam commented on #108
Another quick check, can you try `frameit -v` to get the version?  The Framefile looks good to me...

[2016-02-27 03:31] dvalenzuela-com commented on #108
`frameit 2.4.1`

[2016-02-27 03:45] i2amsam commented on #108
Ahh, the title.strings parser is expecting `=` instead of `:`.  e.g.
[code]

[2016-02-27 04:41] dvalenzuela-com commented on #108
I fix it (can't believe I didn't see that), but the problem persists:

[code]

Thanks a lot for your time and your willingness to help me out, I really appreciate it :) !

[2016-02-27 17:37] i2amsam commented on #108
:+1: I just wish that had got it working.  That output is coming [from here](https://github.com/fastlane/frameit/blob/master/lib/frameit/strings_parser.rb#L23-L24) and could clearly be improved to help diagnose.   Looking at those regex's the only way to get that error is to have a line which does start with a `"` but does not match `/".*" = ".*"/` and the failing line is printed out right afterwa

[2016-02-28 02:30] i2amsam commented on #108
@dvalenzuela-com I just shipped 2.4.2 which I don't think will fix your issue but should have more clear error output when failing to parse that file.  Could you `gem update frameit` and give it a try when you get a chance?

[2016-02-29 03:20] dvalenzuela-com commented on #108
I used the `;` because Xcode .strings files use them and I saw it in the [MindNode example](https://github.com/fastlane/examples/blob/master/MindNode/screenshots/en-US/title.strings).

I tried without the semicolon and it didn't work. The "old" strings file was created with sublime text and then converted to UTF-16 using Xcode. I tried creating the strings file using Xcode, which created an UTF-8

[2016-02-29 03:20] #108 closed

[2016-02-29 16:41] kakashysen opened #110 "Error installing frameit on OSX El Capitan 10.11"
### Issue Description
When run `sudo gem install frameit` on OSX El Capitan 10.11 and the system show this error
[code]

### Issue Solution
The solution is run the next command

`sudo gem install -n /usr/local/bin frameit`

[2016-02-29 16:41] #110 closed

[2016-03-01 10:15] donnywals commented on #76
+1, is somebody working on this?

[2016-03-01 10:24] donnywals commented on #27
@samwize did your iPhone4 support ever get merged to the main project?

[2016-03-01 12:51] samwize commented on #27
@donnywals It wasn't merged. But you could just download the images from my repos, and then copy to your devices_frames.

[2016-03-01 13:02] donnywals commented on #27
@samwize you mentioned that you had to adjust the offsets as well.. I'm a total Ruby n00b so I have no idea how I would make that work. Or is that not needed anymore?

[2016-03-02 01:26] samwize commented on #27
@donnywals I think there is a 1px offset, which I don't think is noticeable.

[2016-03-02 22:40] egil-systems commented on #44
:) Keep the good work...

[2016-03-06 00:46] dvalenzuela-com opened #120 "First screenshot always causes problems"
Hi guys, for some reason frameit always produces exactly the same error with the same screenshot, in any language. Any ideas what could it be?
[code]

[2016-03-07 16:08] fbonniec opened #121 "Font size percentage and keyword position"
Everything works fine !

### Font size percentage
But is there a way to define font size ? I think it is not possible to define a font size and that's look normal. But if we can set percentage. Define if "keyword" must be higher than "title" using percentage. That will be very useful.

### Title position
I didn't find this in documentation but is there a way to define title position ? Simply by se

[2016-03-07 18:52] #121 closed

[2016-03-07 18:52] #120 closed

[2016-03-07 18:53] #106 closed

[2016-03-07 18:53] #101 closed

[2016-03-07 18:53] #100 closed

[2016-03-07 18:53] #99 closed

[2016-03-07 18:53] #97 closed

[2016-03-07 18:53] #96 closed

[2016-03-07 18:54] #93 closed

[2016-03-07 18:54] #89 closed

[2016-03-07 18:54] #88 closed

[2016-03-07 18:54] #87 closed

[2016-03-07 18:54] #85 closed

[2016-03-07 18:54] #82 closed

[2016-03-07 18:55] #80 closed

[2016-03-07 18:55] #78 closed

[2016-03-07 18:55] #76 closed

[2016-03-07 18:55] #75 closed

[2016-03-07 18:55] #73 closed

[2016-03-07 18:55] #71 closed

[2016-03-07 18:56] #69 closed

[2016-03-07 18:56] #67 closed

[2016-03-07 18:56] #64 closed

[2016-03-07 18:56] #60 closed

[2016-03-07 18:56] #57 closed

[2016-03-07 18:56] #55 closed

[2016-03-07 18:57] #52 closed

[2016-03-07 18:57] #51 closed

[2016-03-07 18:57] #50 closed

[2016-03-07 18:57] #49 closed

[2016-03-07 18:57] #48 closed

[2016-03-07 18:57] #46 closed

[2016-03-07 18:57] #45 closed

[2016-03-07 18:58] #35 closed

[2016-03-07 18:58] #34 closed

[2016-03-07 18:58] #33 closed

[2016-03-07 18:58] #32 closed

[2016-03-07 18:58] #30 closed

[2016-03-07 18:58] #29 closed

[2016-03-07 18:59] #24 closed